alembic==1.4.0
certifi==2019.11.28
Click==7.0
file-read-backwards==2.0.0
Flask==1.1.1
Flask-Migrate==2.5.2
Flask-MySQL==1.5.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
itsdangerous==1.1.0
Jinja2==2.11.1
Mako==1.1.1
MarkupSafe==1.1.1
mysqlclient==1.4.6
pydash==4.7.6
PyGeodesy==20.2.12
PyMySQL==0.9.3
python-dateutil==2.8.1
python-editor==1.0.4
six==1.14.0
SQLAlchemy==1.3.13
Werkzeug==1.0.0
